<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import { text } from "svelte/internal";
  import Plot from "./design_1_plot.svelte";

  // Size and margins
  const width = 1500;
  const height = 500;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  let city = "Baltimore";
  let scaler = 1;

  let data = [];
  onMount(async () => {
    data = await json("./data/hourly_heating_december.json");
  });

  let data_object = {};

  $: {
    data.forEach((d) => {
      if (!(d.city in data_object)) {
        data_object[d.city] = {};
      }
      if (!(d.buildingtype in data_object[d.city])) {
        data_object[d.city][d.buildingtype] = [];
      }
      data_object[d.city][d.buildingtype].push(d.total_heating_energy);
    });
  }
</script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    
    {#if scaler == 1}
      <Plot data={data_object[city]} {scaler}  />
    {:else}
      <Plot data={data_object[city]} {scaler} />
    {/if}

    
  </g>
</svg>

<div>
  <h5>Location :</h5>

  <label>
    <input type="radio" bind:group={city} name="ct" value="Baltimore" />
    Baltimore
  </label>

  <label>
    <input type="radio" bind:group={city} name="ct" value="Chicago" />
    Chicago
  </label>

  <label>
    <input type="radio" bind:group={city} name="ct" value="Los Angeles" />
    Los Angeles
  </label>

  <h5>Scaler</h5>

  <label>
    <input type="radio" bind:group={scaler} name="scaler" value={1} />
    ScaleWithin
  </label>

  <label>
    <input type="radio" bind:group={scaler} name="scaler" value={2} />
    ScaleAcross
  </label>
</div>

<style>
  svg {
    border: 0px solid black;
    border-radius: 1px;
  }
</style>
