<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import { text } from "svelte/internal";
  import Path from "./design_2_path.svelte";
  import { scaleLinear } from "d3-scale";
  import Path2 from "./design_2_path2.svelte";
  import { extent } from "d3-array";

  // Size and margins
  const width = 1000;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  let city = "Baltimore";
  let data = [];
  onMount(async () => {
    data = await json("./data/daily_heating_cooling.json");
  });

  let heating = {};
  let cooling = {};
  $: {
    data.forEach((d) => {
      if (!(d.city in heating)) {
        heating[d.city] = [];
        cooling[d.city] = [];
      }
      heating[d.city].push(d.heating);
      cooling[d.city].push(d.cooling);
    });
  }

 

  let yScale = scaleLinear().domain([1782, 150000]).range([100, 0]);

  let xScale = scaleLinear()
    .domain([0, 364])
    .range([0, 2 * Math.PI]);
</script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    {#each Object.keys(heating) as ct, idx}
      <circle cx={idx * 300 + 150} cy="140" r="100" />

      <g transform="translate({120 + idx * 300},10)"><text>{ct}</text></g>
      <g transform="translate({135 + idx * 300},30)"><text>JAN</text> </g>
      <g transform="translate({250 + idx * 300},145)"><text>MAR</text> </g>
      <g transform="translate({135 + idx * 300},260)"><text>JUN</text> </g>
      <g transform="translate({20 + idx * 300},145)"><text>SEP</text> </g>

      <g transform="translate({150 + idx * 300},140)">
        <Path data={heating[ct]} {yScale} {xScale} />
        <Path2 data={cooling[ct]} {yScale} {xScale} />
      </g>
      <line x1={idx * 300 + 150} y1="40" x2={idx * 300 + 150} y2="240" />
      <line x1={idx * 300 + 50} y1="140" x2={idx * 300 + 250} y2="140" />
    {/each}
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  circle {
    stroke: black;
    fill: none;
  }
  line {
    stroke: black;
    opacity: 1;
  }
</style>
