<script>
  import { onMount } from "svelte";
  import { json } from "d3-fetch";
  import {extent} from "d3-array";
  import Path from "./design_3_path.svelte";
  import { scaleLinear } from "d3-scale";
  import Path2 from "./design_3_path2.svelte";
  // Size and margins
  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  let data = [];
  onMount(async () => {
    data = await json("./data/hourly_electricity_vs_gas_december.json");
  });

  let data_object = {};
  let gas_data = {};
  $: {
    data.forEach((d) => {
      if (!(d.week in data_object)) {
        data_object[d.week] = [];
        gas_data[d.week] = [];
      }
      data_object[d.week].push(d.total_electrity);
      gas_data[d.week].push(d.total_gas);
    });
  }
  
  //xScale = scaleLinear().domain(extent(data.map((d) => d) )).range([10,0]);
  let yScale = scaleLinear().domain([ 0,168]).range([3,0]);
  let gasScale = scaleLinear().domain([0, 168]).range([0, 3]);
  let xScale = scaleLinear().domain([0, 168]).range([168, 0]);
  let xScale2 = scaleLinear().domain([0, 168]).range([0, 168]);
  let bool = false;

  function even(i) {
    bool = false;
    if (i % 2 == 0) {
      return (bool = true);
    } else {
      return (bool = false);
    }
  }
</script>

<svg {width} {height}>
  <g transform="translate({margin.left},{margin.top})">
    {#each Object.keys(data_object) as week, i}
      {#if even(i) == true}
        <g transform="translate(180,{465 - i * 100})">
          <g transform="rotate(-10)"> <text>Week {week}</text></g>
        </g>
        <g transform="translate(250,{450 - i * 100})">
          <g transform="rotate(-10)">
            <Path data={data_object[week]} {yScale} xScale={xScale2} />
            <Path2 data={gas_data[week]} yScale={gasScale} xScale={xScale2} />
          </g>
        </g>
      {:else}
        <g transform="translate(255,{485 - i * 100})">
          <g transform="rotate(10)"> <text>Week {week}</text></g>
        </g>
        <g transform="translate(80,{450 - i * 100})">
          <g transform="rotate(10)">
            <Path data={data_object[week]} {yScale} {xScale} />
            <Path2 data={gas_data[week]} yScale={gasScale} {xScale} />
          </g>
        </g>
      {/if}
    {/each}

    <line x1="250" y1="10" x2="250" y2="500" />
    <g transform="translate(80,550)">
      <text font-size="30" font-family="arial"> Chicago </text>
      <g transform="translate(250,0)">
        <text font-size="20" font-family="arial"> December 2014 </text></g
      >
    </g>

    <g transform="translate(210,500)">
      <rect x="0" y="0" width="80" height="60" />
    </g>
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }

  line {
    stroke: green;
    stroke-width: 2;
  }
  rect {
    fill: rgb(136, 87, 14);
  }
</style>
