<script>
  
  import { extent } from "d3-array";
  
  import Dat from "./design_1_bt.svelte";
  import { text } from "svelte/internal";
  export let scaler;
  export let data = {};
  
  let tax = 0;
  let max_array = [];
  function test(){
  
  max_array = [];
  tax = 0;
  const keys = Object.keys(data);
  keys.forEach((key) => {
    
    max_array = extent(data[key].map((d) => d));
    if (max_array[1] > tax) {
      tax = max_array[1];
    }
    
    
    
  });
  }
 
  $: test(scaler)

  
</script>

{#each Object.keys(data) as bt, bt_idx}
  <g transform="translate(0,{10 + bt_idx * 30})">
    <text>{bt}</text>
    <Dat data={data[bt]} {scaler} {tax}  />
  </g>
{/each}
