<script>
  export let data = [];
  export let yScale;
  export let xScale;
    

  let pathTest = (d) => {
    let path = "M 0,0"  ;
    d.forEach((value, idx) => {
      path += " " + xScale(idx) + "," + yScale(value);
    });
    
    path += " "+xScale(168)+",0";
    
    return path;
  };

  
</script>

<path d={pathTest(data)} />

<style>
  path {
    stroke: #005BBB;
    fill: #0057B8;
    opacity: 1;
    
  }
</style>
