<script>
  export let data = [];
  export let yScale;
  export let xScale;

  let pathTest = (d) => {
    let path = "M";
    d.forEach((value, idx) => {
      path +=
        " " +
        Math.sin(xScale(idx)) * yScale(value) +
        "," +
        Math.cos(xScale(idx)) * yScale(value);
    });

    return path;
  };
</script>

<path d={pathTest(data)} />

<style>
  path {
    stroke: red;
    fill: red;
    opacity: 0.5;
  }
</style>
