<script>
  export let data = [];
  export let scaler;
  export let tax;
  
  import { scaleLinear } from "d3-scale";
  import { extent } from "d3-array";

  let xScale;
  function scaler_Sizer() {
    if (scaler == 1) {
      xScale = scaleLinear()
        .domain(extent(data.map((d) => d)))
        .range([12, 0]);
    } else {
      xScale = scaleLinear().domain([0, tax]).range([12, 0]);
    }
  }
  $: scaler_Sizer(scaler);
  
  let yScale = scaleLinear().domain([0, 744]).range([0, 770]);

  let pathTest = (d) => {
    let path = "M 0," + xScale(0);
    d.forEach((value, idx) => {
      path += " " + yScale(idx) + "," + xScale(value);
    });
    path += " " + yScale(744) + "," + xScale(0);

    return path;
  };
</script>

<path d={pathTest(data)} />

<style>
  path {
    stroke: black;
    fill: black;
    fill-opacity: 0.8;
  }
</style>
