<script>
    const favourite_list = ['Piano','Video Games','Movies','Hiking']
    const student = {name: 'Théodore Gautier',favourite_list}
</script>

<p>My name is {student.name} and these are some of my favourite things: {student.favourite_list}.</p>
