<script>
  // Properties
  export let data = [];
  const continents = ["europe", "asia", "americas", "africa"];

  export let year_select;
  export let continent_select;

  let inter = null;
  let r = false;
  let button = "Play";

  function test() {
    if (year_select == 214) {
      year_select = 0;
    } else {
      year_select += 1;
    }
  }

  function play() {
    if (r == false) {
      r = true;
      button = "Pause";
      return (inter = setInterval(test, 50));
    } else {
      clearInterval(inter);
      r = false;
      button = "Play";
    }
  }
  function reset() {
    clearInterval(inter);
    year_select = 0;
    r = false;
    button = "Play";
  }
</script>

<div class="row">
  <div class="col-4">
    <button type="button" class="btn btn-primary" on:click={() => play()}>
      {button}
    </button>
    <button type="button" class="btn btn-danger" on:click={() => reset()}>
      Reset
    </button>
  </div>

  <div class="col-5">
    <label for="range" class="form-label col-sm-10"
      >Year: {year_select + 1800}</label
    >
    <input
      type="range"
      class="form-range"
      min="0"
      max="214"
      bind:value={year_select}
      id="range"
    />
  </div>
  <div class="col-3">
    <select id="place" class="form-select" bind:value={continent_select}>
      <option value="all">All</option>
      {#each continents as cont}
        <option value={cont}>{cont}</option>
      {/each}
    </select>
  </div>
</div>
