<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";
  
  let year = 0;
  let continent = "all";
  let pre;

  // Load the data
  let data = null;
  onMount(async () => {
    data = await json("/data/gapminder.json");
  });

  function set(year, continent) {
    if (continent != "all") {
      return data[year]['countries'].filter((d) => d.continent == continent);
      
    } 
    else {
      return data[year]['countries'];
          }
  }
</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <Scatterplot data={set(year,continent)} />
    <Controls {data} bind:year_select={year} bind:continent_select={continent} />
  </div>
{/if}
