<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 25, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];

  import { scaleLog } from "d3-scale";
  import { axisBottom } from "d3-axis";
  import { select} from "d3-selection";

  
  const scaleX = scaleLog().domain([1,10]).range([0,790]);
  const xAxis =axisBottom(scaleX);

  function makeAxis(a){
    xAxis(select(a))
  }
 </script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as val}
      <circle cx={scaleX(val)} cy="50" r="10" fill="steelblue" />
    {/each}
  </g>
  <g transform="translate(5,75)" use:makeAxis>
    <text x="395" y="25" fill="currentcolor">x-axis</text>
  </g>
</svg>
