<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];

  import {scaleLinear} from 'd3-scale';
  import {scaleOrdinal} from 'd3-scale';
  import {schemeDark2} from 'd3-scale-chromatic';

  const scaleX = scaleLinear().domain([0,10]).range([0,800]);
  const scaleY = scaleLinear().domain([0,4]).range([90,0]);
  const colour = scaleOrdinal(schemeDark2);
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as val}
    <line x={scaleX(val.x)} y={scaleY(val.y)}/>
    <circle cx={scaleX(val.x)} cy={scaleY(val.y)} r="8" style={"fill:" + colour(val.category)} />
    {/each}
    
  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
  
</style>
